MYSQL_DATABASE=desafio_kabum_db
MYSQL_ROOT_PASSWORD=

DB_DRIVER=mysql
DB_HOST=db
DB_PORT=3306
DB_NAME=desafio_kabum_db
DB_USER=
DB_PASSWORD=

DEFAULT_ADMIN_NAME=
DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_PASSWORD=

JWT_SECRET_KEY=
JWT_EXPIRATION=3600
